
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

/* layoutens utseende */
body {
    background-color:  #e82323;
}

.kontainer {
    font-family: Arial, Helvetica, sans-serif;
    width: 800px;
    padding: 20px;
    margin: auto;
    background-color: #da7575;
   
}
/* Menyns utseende */
.kontainer ul {
    display: flex;
    justify-content: space-between;
}
.kontainer ul .aktiv {
   background-color:  #b93726;
}

.kontainer li {
    list-style-type: none;
}

.kontainer a {
    text-decoration: none;
    color: #cbdfbd;
    background-color: #ef865a;
    padding: 10px 20px;
    border-radius: 3px;
    display: inline-block;
    text-align: center;
    width: 150px;

}
.kontainer a:hover {
    background-color: #A44A3F;
}

/* Innehållet */
.kontainer h1 {
    font-family: "Shrikhand", serif;
    color: #A44A3F;
    font-size: 80px;
    text-align: center;
}

.kontainer figure {
    background-color: #cb6565;
    padding: 30px;
    width: 60%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.kontainer img {
    width: 100%;
}

figcaption {

}

.kontainer p{
margin-bottom: 15px;
}
.kontainer .tack 
{
font-style: italic;
}
.kontainer .tack a {
text-decoration: none;
color: #000000;
}
